.home{
    padding: 0;
    /* CSS declarations for `.block` */
    &__paper-login{
      width: 90%;
      margin: 0 auto;
    }
    &__h2 {
        /* CSS declarations for `.block__element` */
    }
    
    &__button-fb{
        color: #FFF !important;
        background-color: #000 !important;
        width: 100%;
    }

}
