@import '../themes/default.scss';

.login-facebook{

    display: block;
    width: 100%;
    text-align: center;

    &__login-button {
        /* CSS declarations for `.block__element` */
        background-color: $button-background;
        color: $primary-color;

        @include button-format();
    }
    
    &__login-button:hover { 
        background-color: $button-hover;
    }

    &__start-button{
        /* CSS declarations for `.block__element` */        
    }

    &__username{
        font-weight: bold;
        display: none;
    }

    &__photo{
        width: 40px;
        display: block;
        margin: 10px 10px;
        border-radius: 50%;
    }    

}