.fblogin{
    text-align: center;
}

    .fblogin__button{
        border: 0px;
        background-color: #000;
    }
    .fblogin__button:hover{
        background-color: #555;
    }    
    .fblogin__button-over{
         
    }

    .fblogin__photo{
        width: 100%;
        max-width: 80px;
        border: 2px solid #000;
        display: inline-block;
        margin: 20px 0px;
    }