
.icon-cancel:before { content: '\e800'; } /* '' */
.icon-record:before { content: '\e801'; } /* '' */
.icon-upload:before { content: '\e802'; } /* '' */
.icon-link:before { content: '\e803'; } /* '' */
.icon-cancel-1:before { content: '\e804'; } /* '' */
.icon-link-1:before { content: '\e805'; } /* '' */
.icon-camera:before { content: '\e806'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-play-circled:before { content: '\f144'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-pause-circle:before { content: '\f28b'; } /* '' */